<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Title</title>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='/script/script.js') }}" defer></script>
</head>
<body>
    <div class="containerBody">
        <a id="cartridgeTransparent"  href="{{url_for('cartridge')}}"><img src="/static/images/cartridgeTransparent.png" height="100" width="150" >
        </a>
    </div>
</body>

</html>
