<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
    <script src="{{ url_for('static', filename='js/space_invaders.js') }}" defer></script>
    <title>168 in 1</title>
</head>
<body>
    <div class="wrap">
        <header>Space Invaders</header>
        <div class="game-wrapper">
            <div class="game"></div>
            <div class="congratulations">
                <h1>Congratulations!</h1>
                <h2>You've slain all invading JavaScript cultists</h2>
                <button class="btn" onclick="window.location.reload()">Restart</button>
            </div>
            <div class="game-over">
                <h1>Game Over!</h1>
                <h2>JavaScript has taken over the world!</h2>
                <button class="btn" onclick="window.location.reload()">Restart</button>
            </div>
        </div>
        <footer>A / D keys to move, Spacebar to shoot</footer>
    </div>

</body>
</html>